@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

@layer utilities {
  .safe-bottom {
    padding-bottom: env(safe-area-inset-bottom, 0px);
  }

  .scrollbar-thin {
    scrollbar-width: thin;
  }
}
